body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  #quiz-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid #000;
  }
  
  .quiz-card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 50%;
  }
 @media (max-width: 768px) {
  #quiz-container {
    width: 100%; 
  }
}
  
  .quiz-card h2 {
    margin-top: 0;
  }
  
  .quiz-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;

  }
